AsistenteUniversitario_v2_n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clase-audio-upload",
        "responseMode": "lastNode",
        "options": {
          "binaryData": true
        }
      },
      "id": "bbaef1df-2d91-4167-ab29-a10b8054aedb",
      "name": "Webhook (From HTML)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -400,
        48
      ],
      "webhookId": "0e951db7-93a5-4e15-92df-113d71eff35c"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "text": "Transcribe este audio palabra por palabra.",
        "inputType": "binary",
        "options": {}
      },
      "id": "7502dac9-f0ba-4d54-8d0e-0235cb9ca7ee",
      "name": "Gemini (Transcribe)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -176,
        48
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "4TRpfCWy24p2GERC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11ddRnCCepSfTI3NlTpi8VXMPcqBmu_NtpFoKn6ky7QI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clases",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Estado",
              "lookupValue": "Activa"
            }
          ]
        },
        "options": {}
      },
      "id": "781764c6-e31e-41f9-9948-9d319baa900d",
      "name": "Get Current Class",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        64,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2iuzjtC3HvHHTLIZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente de estudio. Tu tarea es integrar un nuevo fragmento de clase al resumen existente sin repetir información y manteniendo estructura técnica. DEVUELVE SOLO EL TEXTO PLANO.",
              "role": "model"
            },
            {
              "content": "RESUMEN ACTUAL:\n{{ $node[\"Get Current Class\"].json.Resumen_Vivo || 'Inicio de clase' }}\n\nNUEVO TEXTO TRANSCRITO:\n{{ $node[\"Gemini (Transcribe)\"].json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "ec778f5a-087a-4f3a-baac-4981a4960b9e",
      "name": "Gemini (Update Summary)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        256,
        48
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "4TRpfCWy24p2GERC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11ddRnCCepSfTI3NlTpi8VXMPcqBmu_NtpFoKn6ky7QI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clases",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Clase": "={{ $node[\"Get Current Class\"].json.ID_Clase }}",
            "Resumen_Vivo": "={{ $node[\"Gemini (Update Summary)\"].json.text }}",
            "Estado": "Activa"
          },
          "matchingColumns": [
            "ID_Clase"
          ]
        },
        "options": {}
      },
      "id": "6d4abfef-40d5-4bc2-8b25-c7a3b4832c6c",
      "name": "Update AppSheet Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        544,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2iuzjtC3HvHHTLIZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finalizar-clase",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "eac81daa-d4cd-4ab7-98d7-8af609e90311",
      "name": "Webhook (End Class)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -400,
        304
      ],
      "webhookId": "9b1e0e88-bc74-428b-8989-c36505cf7ed4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11ddRnCCepSfTI3NlTpi8VXMPcqBmu_NtpFoKn6ky7QI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clases",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Estado",
              "lookupValue": "Activa"
            }
          ]
        },
        "options": {}
      },
      "id": "1e2ebef2-4e84-44d2-9cc5-7fc68bf2ffae",
      "name": "Get Final Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -176,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2iuzjtC3HvHHTLIZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Genera un plan de estudio de 5 días basado exclusivamente en el resumen proporcionado. No uses Markdown.",
              "role": "model"
            },
            {
              "content": "RESUMEN DE LA CLASE:\n{{ $node[\"Get Final Summary\"].json.Resumen_Vivo }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a963b34d-a7d9-4344-9f85-c27a8f938d78",
      "name": "Gemini (Master Plan)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        16,
        304
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "4TRpfCWy24p2GERC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11ddRnCCepSfTI3NlTpi8VXMPcqBmu_NtpFoKn6ky7QI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clases",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Clase": "={{ $node[\"Get Final Summary\"].json.ID_Clase }}",
            "Estado": "Finalizada"
          },
          "matchingColumns": [
            "ID_Clase"
          ]
        },
        "options": {}
      },
      "id": "6e02fa67-e6fb-4100-8442-45a302a60116",
      "name": "Close Class in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        336,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2iuzjtC3HvHHTLIZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6977630643",
        "text": "={{'📚 ¡Plan de Estudio Generado!\\n\\n' + $node[\"Gemini (Master Plan)\"].json.text.replace(/[*_`]/g, '')}}",
        "additionalFields": {}
      },
      "id": "ac243107-1b1e-4b5b-bdf2-6fe5d4d81a88",
      "name": "Telegram Notify Plan",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        592,
        304
      ],
      "webhookId": "299ff902-4a0a-421f-8741-346bb4a50dc8",
      "credentials": {
        "telegramApi": {
          "id": "3dCyzR4wvAyVOTo7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook (From HTML)": {
      "main": [
        [
          {
            "node": "Gemini (Transcribe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Transcribe)": {
      "main": [
        [
          {
            "node": "Get Current Class",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Class": {
      "main": [
        [
          {
            "node": "Gemini (Update Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Update Summary)": {
      "main": [
        [
          {
            "node": "Update AppSheet Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (End Class)": {
      "main": [
        [
          {
            "node": "Get Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Summary": {
      "main": [
        [
          {
            "node": "Gemini (Master Plan)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Master Plan)": {
      "main": [
        [
          {
            "node": "Close Class in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Class in Sheets": {
      "main": [
        [
          {
            "node": "Telegram Notify Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2cf7dc4353323ec014d27951b319a3fd37d0d60b82ab48034beb061b596256c2"
  }
}